<!-- Pestaña de proyectos -->

<!-- Título principal -->
<h1 class="proyects-title">Algunos de mis proyectos</h1>

<!-- Contenedor global -->
<section class="proyects">

  <!-- Proyect1 -->
<div class="proyect proyect-1">
      <div class="proyect-min">
          <h2>Interfáz Mike Peter</h2>
          <div class="proyect-img proyect-img1 proyect1-img_1"></div>
      </div>

      <div class="proyect-detail">
          <h4>Detalles</h4>
            <p>
              Interfáz elaborada en figma, con elementos responsivos y prototipos para simular la interacción del proyecto. Uso de teoría del color y patrones de diseño de la marca del cliente.
            </p>
      </div>

      <div class="proyect-img proyect-img1 proyect1-img_2 "></div>
      <div class="proyect-img proyect-img1 proyect1-img_3 "></div>
</div>
<!-- Proyect 2 -->
<div class="proyect proyect-2">
      <div class="proyect-min">
          <h2>Antropik, modelo 3d</h2>
          <div class="proyect-img proyect-img1 proyect2-img_1"></div>
      </div>

      <div class="proyect-detail">
          <h4>Detalles</h4>
            <p>
              Este ptoyecto es un conjunto de modelado 3d de la obra antropik que busca representar la fisiología del rostro humano en diferentes formas. El proyecto fue elaborado con zbrush usando téncnica de escultura.
            </p>
      </div>

      <div class="proyect-img proyect-img1 proyect2-img_2 "></div>
      <div class="proyect-img proyect-img1 proyect2-img_3 "></div>
</div>
<!-- Proyect 3 -->
<div class="proyect proyect-3">
      <div class="proyect-min">
          <h2>Portada álbum RatikMusic</h2>
          <div class="proyect-img proyect-img1 proyect3-img_1"></div>
      </div>

      <div class="proyect-detail">
          <h4>Detalles</h4>
            <p>
              Este diseño pertenece a una portada elaborada para un álbum musical del grupo de blues-rock ratimusic. Fue hecho con Adobe Illustrator y la composición de la imágen está en 2.5D.
            </p>
      </div>

      <div class="proyect-img proyect-img1 proyect3-img_2 "></div>
      <div class="proyect-img proyect-img1 proyect3-img_3 "></div>
</div>
<!-- Proyect 4 -->
<div class="proyect proyect-4">
      <div class="proyect-min">
          <h2>Imagen Coatlfest 2021</h2>
          <div class="proyect-img proyect-img1 proyect4-img_1"></div>
      </div>

      <div class="proyect-detail">
          <h4>Detalles</h4>
            <p>
              Imagen publicitaria del concurso de volleyball de playa Coatlfest 2021, editado en photoshop. Este elemento publicitario fue añadido a la ilustración final que compone toda la publicidad del anuncio.
            </p>
      </div>

      <div class="proyect-img proyect-img1 proyect4-img_2 "></div>
      <div class="proyect-img proyect-img1 proyect4-img_3 "></div>
</div>
<!-- Proyect -5 -->
<div class="proyect proyect-5">
      <div class="proyect-min">
          <h2>Modelo 3D casa 1</h2>
          <div class="proyect-img proyect-img1 proyect5-img_1"></div>
      </div>

      <div class="proyect-detail">
          <h4>Detalles</h4>
            <p>
              Plano y modelaje de una casa para orientar al equipo arquitectónico encargado del mismo proyecto. Elaborado con Autocad posee las dimensiones a escala, se presentan tanto la dimensión en tres y 2 dimensiones.
            </p>
      </div>

      <div class="proyect-img proyect-img1 proyect5-img_2 "></div>
      <div class="proyect-img proyect-img1 proyect5-img_3 "></div>
</div>
<!-- Proyect-6 -->
<div class="proyect proyect-6">
      <div class="proyect-min">
          <h2>Paquete GlobeFever</h2>
          <div class="proyect-img proyect-img1 proyect6-img_1"></div>
      </div>

      <div class="proyect-detail">
          <h4>Detalles</h4>
            <p>
              Estas imágenes muestran un paquete publiciario para la agencia de publicidad GlobeFever, incluyendo logo, colores primarios y secundarios de la marca y colores de contraste. Diseño de interfáz en figma para página y folletos informativos.
            </p>
      </div>

      <div class="proyect-img proyect-img1 proyect6-img_2 "></div>
      <div class="proyect-img proyect-img1 proyect6-img_3 "></div>
</div>
<!-- Proyect 7 -->
<div class="proyect proyect-7">
      <div class="proyect-min">
          <h2>Hamburguesas Wester</h2>
          <div class="proyect-img proyect-img1 proyect7-img_1"></div>
      </div>

      <div class="proyect-detail">
          <h4>Detalles</h4>
            <p>
              Diseño simple publicitario para el negocio de Hamburguesas Wester elaborado en adobe illustrator. Presentación en diferentes colores de las infografías.
            </p>
      </div>

      <div class="proyect-img proyect-img1 proyect7-img_2 "></div>
      <div class="proyect-img proyect-img1 proyect7-img_3 "></div>
</div>
<!-- Proyect-8 -->
<div class="proyect proyect-8">
      <div class="proyect-min">
          <h2>Infograía EcoEarth</h2>
          <div class="proyect-img proyect-img1 proyect8-img_1"></div>
      </div>

      <div class="proyect-detail">
          <h4>Detalles</h4>
            <p>
              Infografía diseñada para la empresa EcoEarth elaborada en corelDraw. Secuencia de colores e integración de los componentes estadísticos de forma creativa y presentable.
            </p>
      </div>

      <div class="proyect-img proyect-img1 proyect8-img_2 "></div>
      <div class="proyect-img proyect-img1 proyect8-img_3 "></div>
</div>
<!-- Proyect-9 -->
<div class="proyect proyect-9">
      <div class="proyect-min">
          <h2>Comercial DiscoverW</h2>
          <div class="proyect-img proyect-img1 proyect9-img_1"></div>
      </div>

      <div class="proyect-detail">
          <h4>Detalles</h4>
            <p>
              Comercial hecho y editado en filmora para la agencia de publicidad DiscoverW. Efectos de entrada y salida durante las transiciones y edición de la imágen del video original para resaltar la intensidad del color.
            </p>
      </div>

      <div class="proyect-img proyect-img1 proyect9-img_2 "></div>
      <div class="proyect-img proyect-img1 proyect9-img_3 "></div>
</div>
<!-- Proyect-10 -->
<div class="proyect proyect-10">
      <div class="proyect-min">
          <h2>Arte XgameInUnox</h2>
          <div class="proyect-img proyect-img1 proyect10-img_1"></div>
      </div>

      <div class="proyect-detail">
          <h4>Detalles</h4>
            <p>
              Este es un banner artístico principal para el juego XgameInUnox elaborado en corelDraw y usando la integración del color uniforme.
            </p>
      </div>

      <div class="proyect-img proyect-img1 proyect10-img_2 "></div>
      <div class="proyect-img proyect-img1 proyect10-img_3 "></div>
</div>
</section>
<hr class="rainbow2">
<footer class="home-footer" >
  <div class="footer-info">

    <div class="social-media">
      <p>Mis redes sociales</p>
      <div class="social-media_icons">
      <i class='bx bxl-instagram-alt' ></i>
      <i class='bx bxl-whatsapp'></i>
      <i class='bx bxl-twitter' ></i>
      <i class='bx bxl-twitch' ></i>
      <i class='bx bxl-linkedin' ></i>
      <i class='bx bxl-tiktok' ></i>
      </div>
    </div>
    <!-- <hr class="rainbow2"> -->
    <div class="contact-info">
      <h4>Contacto directo</h4>
      <p><strong>Teléfono:</strong> +52 1 777 129 86 44</p>
      <p><strong>e-mail:</strong> carlos.cortez.diseño@gmail.com</p>
    </div>
  </div>

  <div class="copy">Carlos Cortéz 2022 &copy; Todos los derechos reservados  </div>
</footer>


