<section class="prices">
  <div class="prices-info">
    <h1 class="prices-title">Algunos precios de paquetes</h1>
  <p class="prices-text">Todos los precios aquí mostrados son ajustables de a cuerdo a las necesidades del cliente, éste catálogo muestra sólo los paquetes generales que ofrece mi servicio</p>
  </div>

  <!-- Contenedor de precios -->
<div class="prices-container">
    <!-- Precios para negocios -->
    <div class="business-design">
      <!-- Opción 1 -->
      <div class="business-option1">
        <h4>Paquete 1 diseño empresarial: <strong>$350</strong></h4>
        <p>Incluye:</p>
        <ul>
          <li>Diseño de logo</li>
          <li>Diseño de colores de marca</li>
          <li>Diseño de colore sde contraste</li>
          <li>Elaboración de video publicitario</li>
          <li>Elaboración de carteles publicitarios</li>
        </ul>
      </div>
      <!-- Opción 2  -->
      <div class="business-option2">
        <h4>Paquete 2 diseño empresarial: <strong>$250</strong></h4>
        <p>Incluye:</p>
        <ul>
          <li>Diseño de logo</li>
          <li>Diseño de colores de marca</li>
          <li>Diseño de colore sde contraste</li>
          <li>Elaboración de carteles publicitarios</li>
          <li>Diseño creativo de redes sociales</li>
        </ul>
      </div>
    </div>
    <!-- Precios para arte -->
  <div class="artistic-design">
    <!-- Opción 1 -->
    <div class="art-option1">
      <h4>Paquete 1 diseño artístico: <strong>$250</strong></h4>
      <p>Incluye:</p>
      <ul>
        <li>Diseño de personajes 2D o 3D</li>
        <li>Diseño de backgrounds personalizados</li>
        <li>Diseño de ilustraciónes vectoriales e íconos</li>
        <li>Edición de fotografía avanzada</li>
      </ul>
    </div>
    <!-- Opción 2  -->
    <div class="art-option2">
      <h4>Paquete 2 diseño artístico: <strong>$250</strong></h4>
      <p>Incluye:</p>
      <ul>
        <li>Diseño de personajes 2D o 3D</li>
        <li>Diseño de backgrounds personalizados</li>
        <li>Diseño de animación en Adobe Animate con personajes en 2D o 3D</li>
        <li>Diseño de plantillas o bocetos para arte profesional</li>
      </ul>
    </div>
  </div>

</div>
</section>
<hr class="rainbow2">
<footer class="home-footer" >
  <div class="footer-info">

    <div class="social-media">
      <p>Mis redes sociales</p>
      <div class="social-media_icons">
      <i class='bx bxl-instagram-alt' ></i>
      <i class='bx bxl-whatsapp'></i>
      <i class='bx bxl-twitter' ></i>
      <i class='bx bxl-twitch' ></i>
      <i class='bx bxl-linkedin' ></i>
      <i class='bx bxl-tiktok' ></i>
      </div>
    </div>
    <!-- <hr class="rainbow2"> -->
    <div class="contact-info">
      <h4>Contacto directo</h4>
      <p><strong>Teléfono:</strong> +52 1 777 129 86 44</p>
      <p><strong>e-mail:</strong> carlos.cortez.diseño@gmail.com</p>
    </div>
  </div>

  <div class="copy">Carlos Cortéz 2022 &copy; Todos los derechos reservados  </div>
</footer>
